.card {
  width: 32%;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.188);

  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-3px);
}

.card__image {
  height: 23rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.card__image img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card__tag {
  width: fit-content;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0 5px 0 10px;
  background-color: #fedd66;

  position: absolute;
  top: 0;
  right: 0;
}

.card__body {
  padding: 1rem;
  margin-bottom: 1rem;
}
.card__title {
  font-size: 1.6rem;
  font-family: "Montserrat";
  font-weight: 600;
  margin-bottom: 1rem;
}
.card__description {
  font-size: 1.2rem;
  color: #444;
}
.card__stats {
  padding: 1rem;
  margin-top: auto;
}

.card__footer {
  padding: 0 1rem;
}
.card__footer .btn {
  margin-bottom: 1rem;
}
