.hero {
  min-height: 70vh;
  background-color: #ebfaff;
}

.hero-content {
  display: flex;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.text--bg {
  font-family: "Playfair Display";
  font-size: 6rem;
}
.text--yellow {
  color: #fedd66;
}

.hero-img img {
  display: block;
  width: 100%;
}
