.carousal {
  display: flex;
  overflow: hidden;
  background-color: transparent;
  border-radius: 5px;
}

.carousal img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.carousal__home {
  width: 70%;
  margin: 0 auto;
  transform: translateY(-35%);
}
